@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #24282c;
  --secondary: #FF580D;
  --third: #FF9F1C;
  --fourth: #51575c;
}


@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-third: var(--third);
  --color-fourth: var(--fourth);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.rc-slider-rail {
  height: 6px !important;
}

.rc-slider-track {
  height: 6px !important;
  background-color: #545252 !important;
}

.rc-slider-handle {
  width: 21px !important;
  height: 21px !important;
  transform: translate(-50%, -10%) !important;
  border: solid 2px #777777 !important;
}

.rc-slider-handle:hover {
  border-color: rgb(81, 81, 82) !important;
}

.rc-slider-handle-dragging.rc-slider-handle-dragging.rc-slider-handle-dragging {
  border-color: rgb(81, 81, 82) !important;
  box-shadow: 0 0 0 5px #7f7f80 !important;
}

.rc-slider-dot {
  background-color: #fff !important;
  border: 2px solid #e9e9e9 !important;
  display: none !important;

}

.rc-slider-mark-text {
  display: none !important;
}